<!-- <hello name="{{ name }}"></hello> -->

<h1>Hello</h1>

<p-tree [(value)]="filesTree" layout="horizontal" 
  selectionMode="single" [(selection)]="selectedFile" 
  [propagateSelectionUp]="true"
  [contextMenu]="cm" (onNodeSelect)="nodeSelect($event)" (onNodeContextMenuSelect)="contextMenuSelect($event, cm)">
	<ng-template let-node pTemplate="default">
		<div style="text-align:center">
			<img width="50" height="50" src="https://cdn.jsdelivr.net/gh/zeprexar/angular-3lzz8l@master/src/person.png" /><br>
		  <label>{{node.label}}</label>
    </div>
  </ng-template>
</p-tree>

<p-contextMenu #cm [model]="items"></p-contextMenu>

<div style="margin-top:8px">Selected Node: {{selectedFile ? selectedFile.label : 'none'}}</div>